.container{
    height: 400px;
   margin-left:40px;
   margin-right: 40px;
  
   
 
    border: rgb(195, 154, 235) solid 2px;
}

h1{
    font-size: 30px;
}

p{
    
    margin-right: 30px;
    margin-left: 30px;
    border: rgb(195, 154, 235) solid 2px;
    font-size: 18px;
}

.btnCreate{
    background-color:rgb(233, 190, 197);
    color: black;
}